



/* Author Kali Burris */

body{
    background-image: url("BlackVelvet.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-weight: bold;

}
.container{
    display: flex;
    justify-content: center;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.flex-col{
    flex-direction: column;

}
.flex-row{
    flex-direction: row;
}


/* general container formating */
.gold-border{
    padding: 5px;
    border: solid thin transparent;
    border-image: url("Gold.jpg") 30 stretch ;
    border-radius: 50%;
}
.round-bord{
    border-radius: 40px;
}
.black-velvet-back{
    background-image: url("BlackVelvet.jpg") ;
    color: aliceblue;
}
.red-velvet-back{
    background-image: url("velvet.jpg") ;
    background-size: cover;
    color:aliceblue;
    border-radius: 40px;

}

.inset-div{
    margin: 10px;
    border-radius: inherit;
}

.stich-border-red{
    border: dashed thick;
    border-color: rgb(81, 0, 0);
}

.spaced{
    margin-top: 20px;
}
.tight{
    margin-right: 20%;
    margin-left: 20%;
}
.no-pad{
    padding: 0%;
}
.no-marg{
    margin: 0%;
}


/* text formating */
.text-large{
    font-size: 40pt;
}

.stylish-font{
    font-family: 'Grandiflora One', cursive;

}
.text-left{
    text-align: left;
}
.gold-text{
    -webkit-text-fill-color: transparent;
    background-image: url("Gold.jpg");
    background-size: 55px;
    background-repeat: repeat;
    background-clip: text;
}

/* navbar formating */
.nav-item{
    padding-left: 5%;
    padding-right: 5%;
}
nav{
    padding: 0%;
    margin: 0%;
}
nav ul {
    list-style: none;
    align-items: center;
}
.link-normal{
    color: rgb(166, 166, 166);
    text-decoration: none;


}
/* form specific formating */
form{
    justify-content: center;
}
.form-item{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-items: start;
    background-image: url("BlackVelvet.jpg") ;
    color: aliceblue;
}
.form-item label{
    width: 80%;
    padding: 10px;
    margin: 0%;
    align-self: center;
    justify-self: center;

}
.form-item input{
    height: 20px;
    width: 80%;
    margin: 10px;
    align-self: center;
    justify-self: center;
}
button{
    width: 30%;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 40px;
}
/* formating form number field for all browsers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* qualifications formating */
.qual ul{
    text-align: left;
    margin: auto;
}

/* breakpoints */
@media  screen and (max-width: 730px ) {
    .form-item{
        grid-template-columns: 100%;
    }
    .nav-item{
        padding: 5px;
    }
}
@media screen and (max-width: 600px) {
    .text-large{
        font-size: 30pt;
        padding: 0%;
        margin: 0%;
    }
}